---
layout: default
---

<div class="home">

  {% include_relative _includes/adam.html %}

  {% include_relative _includes/featured.html%}

  <a class="post-link invertwide roundbottom" href="{{ site.baseurl }}/the_iron_yard/2015/11/23/selected-projects.html">
    <h3>Other Selected Projects</h3>
  </a>

  {% comment %}
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  {% endcomment %}

{% comment %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
{% endcomment %}
</div>
