<div>
  <img src="{{ site.baseurl }}/assets/adam-profile.jpg"/ class="profilepic" height="250" width="250">
  <div class="profileintro">
    <h1>Adam Hartz</h1>
    <h3>Junior Developer</h3>
  </div>
</div>


{% comment %}
  TODO:
    √ Add a picture of myself
    - Make this div have a certain height
    - Maybe make this div have a washed-out background picture / design
    - Give font some flair, inset by a bit
    - Needs to be compatible with responsive design
    - Replace Project Detail words with icons!
      - Time: Calendar page
      - Collaborator: Multiple-people heads
      - Python Tools: Just tools
      - Site: no introduction?
      - Development-Notes: no introduction?
{% endcomment %}
