<div style="myfeatured">

  <h2 class="invertwide">Brew Keeper</h2>

  <div style="align: center; float: right; width: 220px; padding-left: 10px">
  <img src="{{ site.baseurl }}/assets/brew-keeper-iphone.png" >
  </div>
  <p><strong>Web app to <em>create</em>, <em>brew</em>, <em>refine</em>, <em>store notes on</em>, and <em>share</em> coffee recipes. (Final Project)</strong></p>

  <p>Each student at The Iron Yard was required to pitch a final project idea, and I had been having difficulty coming up with one that was feasible. Although I came up with this project at 3:30&nbsp;a.m. on pitch day, I was very excited about the idea and was thrilled when we started working on it less than 12 hours later.</p>

  <h3 class="details"><strong>Project Details</strong></h3>
  <p class="details"><strong>Time:</strong> 20 days</p>
  <p class="details"><strong>Collaborators:</strong> Shay Hall (FEE), David White (FEE), and Kathleen Rauh (Python)</p>
  <p class="details"><strong>Python Tools:</strong> Django, Django REST API framework, PostgreSQL, Heroku, Travis-CI, DRF Nested Routers, Django CORS Headers, requests, nose, Mailgun</p>
  <p class="details"><strong>Full Site:</strong> <a href="www.brew-keeper.com">www.brew-keeper.com</a></p>
  <p class="details"><strong>API Wiki:</strong> <a href="https://github.com/Brew-Keeper/brew-keeper-api/wiki/Development-Notes">Development Notes</a></p>
  <p class="details"><strong>GitHub:</strong> <a href="https://github.com/Brew-Keeper/brew-keeper-api">Brew Keeper</a></p>


  <h2 class="invertwide">URLy Bird</h2>

  <p><strong>Web app with URL-shortening functionality.</strong></p>

  <img src="{{ site.baseurl }}/assets/urly-bird.png">
  <br>
  <br>

  <p>We worked very quickly and had "normal mode" covered by Saturday, giving us time to focus on polishing up the layout and bootstrap implementation.</p>

  <h3 class="details"><strong>Project Details</strong></h3>
  <p class="details"><strong>Time:</strong> 3.5 days</p>
  <p class="details"><strong>Collaborator:</strong> Tyler Kotkin (Python)</p>
  <p class="details"><strong>Python Tools:</strong> Django, PostgreSQL, Bootstrap 3, Heroku</p>
  <p class="details"><strong>Full Site:</strong> <a href="https://boiling-savannah-6958.herokuapp.com/">https://boiling-savannah-6958.herokuapp.com/</a></p>
  <p class="details"><strong>GitHub:</strong> <a href="https://github.com/ahartz1/urly-bird">URLy Bird</a></p>

  <br>
</div>
